* {
  padding: 0;
  margin: 0;
}
.son {
  width: 80%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, #01022de5 30%, #00000088),
    url(download.webp);
}
